* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
    color: rgb(77 77 77);
    font-family: gilroy;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #fff;
    text-align: center;
}

::-webkit-scrollbar {
	display: none;
}

.container {
	max-width: 1110px;
	margin: 0 auto;
}

.page-hide {
    display: none;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 6%;
}


.avatar {
    height: 212px;
    border: #ffffff 2px solid;
    border-radius: 360px;
}

h1 {
    font-size: 39.81px;
    font-weight: 400;
}

p {
    color: rgb(100 100 100);
    margin-bottom: 28px;
    font-size: 23.04px;
    font-weight: 300;
}

.social {
    display: flex;
    flex-direction: column;
}

a {  
    font-size: 19.2px;
    font-weight: 500; 
    background: rgb(230, 230, 230);
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 18px 236px;
    color: rgb(100 100 100);
    text-decoration: none;
    transition: .32s;
}

.social a:hover {
    transition: .24s;
    transform: scale(1.08);
    background: rgb(245 245 245);
    color: rgb(77 77 77);
}

@media only screen and (max-width: 480px)
{ 
	body {background-color: #000;}
	a {padding: 18px 112px}
	social {padding-bottom: 410px;}	

}
